<main>
    <div class="center">
        <h1 class="center-text">Welcome to Dactyl0</h1>
        <div class="instruction center-text">{{instruction}}</div>
        <div class="countdown center-text">{{remainingSeconds}}</div>
        <div class="text-to-copy">
            <div *ngFor="let word of words" class="word">
                <app-character *ngFor="let char of word" [character]="char.value" [color]="char.color"></app-character>
            </div>
        </div>
        <table *ngIf="scores.length > 0" class="stats center-text">
            <tr>
                <th>Date</th>
                <th>Accuracy</th>
                <th>Mistakes</th>
                <th>Words Per Minute</th>
            </tr>
            <tr *ngFor="let score of scores">
                <td>{{score.date | date:"medium"}}</td>
                <td>{{score.accuracy.toFixed(1)}}</td>
                <td>{{score.mistakes}}</td>
                <td>{{score.wordsPerMinute.toFixed(1)}}</td>
            </tr>
        </table>
    </div>
</main>

<router-outlet />