<main>
    <div class="center">
        <h1 class="center-text">Welcome to Dactyl0</h1>
        <div class="instruction center-text">{{instruction}}</div>
        <div class="countdown center-text">{{remainingSeconds}}</div>
        <div class="text-to-copy">
            <div *ngFor="let word of words" class="word">
                <app-character *ngFor="let char of word" [character]="char.value" [color]="char.color"></app-character>
            </div>
        </div>
        <div class="stats">
            <div>Accuracy: {{accuracyPercent.toFixed(1)}} %</div>
            <div>Mistakes: {{mistakeCounter}}</div>
            <div>Speed: {{wordNumber * 60 / countdownInSeconds}} words/min</div>
        </div>
    </div>
</main>

<router-outlet />